<template>
    <div class="ml-2" ref="BurgerContainer">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</template>

<script>
    export default {
        name:"BurgerIcon",
        props:['isOpened'],
        methods: {
            animate() {
                this.$refs.BurgerContainer.classList.toggle('change');
            }
        },
        watch: {
            isOpened: {
                handler(val, oldVal) {
                    this.animate();
                }
            }
        }
    }
</script>

<style scoped>
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
</style>