<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span @click="openNav(true)">
            <BurgerIcon v-bind:isOpened="navOpen" />
        </span>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <button class="btn btn-success mr-3">upgrade</button>
            <img src="../../../assets/avatar-tmv1.svg" alt="placeholder" width="40" height="40">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pegawai Demo
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Ganti Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Bantuan</a>
                    <a class="dropdown-item" href="#">Rekomendasikan Trustmedis</a>
                    <div class="dropdown-divider"></div>
                    <router-link to="/" class="dropdown-item">Logout</router-link>
                </div>
            </div>
        </form>
    </nav>
    <div id="sideNav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <input type="text" id="filter" class="form-control" v-model="filterQuery" @keyup="filterMenu" placeholder="filter menu...">
                </div>
            </div>
            <div class="row">
                <div class="col p-0" ref="itemNav">
                    <router-link to="/home/konfigurasi" class="list-group-item">Konfigurasi</router-link>
                    <router-link to="/home/dashboard" class="list-group-item">Dashboard</router-link>
                    <router-link to="/home/setting" class="list-group-item">Setting</router-link>
                    <router-link to="/home/admisi" class="list-group-item">Admisi</router-link>
                </div>
            </div>
        </div>
    </div>
    <div id="subMenuView" @click="openNav(false)">
        <router-view/>

        <footer id="footer" class="py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://via.placeholder.com/50" alt="Logo">
                        <a>Tentang Trustmedis</a>
                        <a>Knowledge Base</a>
                        <a>Video Tutorial</a>
                        <a>Kemitraan</a>
                        <a>Telemedis</a>
                        <a>Podcast Kesehatan</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</template>

<script>
    import BurgerIcon from './BurgerIcon'
    export default {
        name: "Navbar",
        data() {
            return {
                navOpen: false,
                filterQuery: ''
            }
        },
        components: {
            BurgerIcon
        },
        methods: {
            openNav(isIcon) {
                if(this.navOpen || !isIcon) {
                    this.closeNav();
                }
                else {
                    document.getElementById("sideNav").style.width = "25%";
                    document.getElementById("subMenuView").style.marginLeft = "25%";
                    document.getElementById("footer").style.left = "25%";
                }
                if(!isIcon) {
                    this.navOpen = false;
                }
                else {
                    this.navOpen = !this.navOpen;
                }
            },
            closeNav() {
                document.getElementById("sideNav").style.width = "0%";
                document.getElementById("subMenuView").style.marginLeft = "0%";
                document.getElementById("footer").style.left = "0%";
            },
            filterMenu() {
                let list = [...document.getElementsByClassName('list-group-item')];
                let qry = this.filterQuery.toLowerCase();
                list.forEach(node => {
                    if(node.text.toLowerCase().includes(qry)) node.style.display = ""
                    else node.style.display = "none";
                });
                
            }
        }
    }
</script>
<style scoped>
    #sideNav {
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1;
        top: 200; 
        left: 0;
        background-color: #f8f9fa;
        overflow-x: hidden;
        transition: 0.5s;
        -webkit-box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.075);
        -moz-box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.075);
        box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.075);
    }

    #sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    #subMenuView {
        transition: margin-left .5s;
        padding: 20px;
    }

    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
        transition: left .5s;
    }

    .list-group-item {
        border: unset;
        background-color: transparent;
    }

    .list-group-item:hover {
        background-color: #007bff;
        text-decoration: unset;
        color: white;
    }
</style>