<template>
    <router-view/>
</template>

<script>
    export default {
        name: "app",
    }
</script>

<style>
    html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
</style>