<template>
    <div>
        <h3>OVERVIEW MODUL ADMISI</h3>
        <p> 
            Pencarian pasien dengan nama, alamat, tanggal lahir, NIP serta validasi kepesertaan BPJS, Termasuk booking dokter online dan eKIOSK.
            Pendaftaran Rawat Jalan, Rawat Darurat, Rawat Inap, Bedah (OK dan VK), MCU, Laboratorium, Radiologi, Hemodialisa, Patalogi anatomi.
            Pembuatan jadwal dokter, Cetak ID card, stiker, status, FJK, Blanko, kartu bed dan cetak semua laporan pendaftaran pasien.

            Anda Punya Pertanyaan ? Silahkan Kunjungi Pusat Bantuan
            Atau silahkan chatting dengan helpdesk kami pada jam kerja.
        </p>
    </div>
</template>

<script>
    export default {
        name: "Overview"
    }
</script>

<style scoped>

</style>