<template>
    <div>
        <Navbar />
        <Footer />
    </div>
</template>

<script>
    import Navbar from '../components/main/navigation/Navbar'
    import Footer from '../components/main/navigation/Footer'
    
    export default {
        name: "Home",
        components: {
            Navbar,
            Footer
        }
    }
</script>

<style scoped>

</style>