<template>

    <LoginForm />

</template>

<script>
    import LoginForm from '../components/LoginForm'
    export default {
        name: "LandingPage",
        components: {
            LoginForm
        }
    }
</script>

<style scoped>

</style>