<template>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6 d-flex justify-content-center my-auto mx-auto">
                <form @submit="login">
                    <div class="field">
                        <label class="validation-msg">{{usernameMsg}}</label>
                        <input type="text" v-model="username" name="username" class="form-control-lg" placeholder=" " id="loginUsername">
                        <label for="loginUsername">Username</label>
                    </div>
                    <div class="field">
                        <label class="validation-msg">{{passwordMsg}}</label>
                        <input type="password" v-model="password" name="password" class="form-control-lg" placeholder=" " id="loginPassword">
                        <label for="loginPassword">Password</label>
                    </div>
                    <div class="field">
                        <label class="validation-msg">{{shiftMsg}}</label>
                        <select class="form-control-lg" id="loginShift" placeholder=" ">
                            <option selected>Shift</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="loginShift">&nbsp;</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Masuk" class="btn-hero-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="https://via.placeholder.com/150" alt="Logo" class="my-auto mx-auto d-block">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:"LoginForm",
        data() {
            return {
                username: '',
                password: '',
                shift: '',
                usernameValid: true,
                passwordValid: true,
                shiftValid: true,
                usernameMsg: "a",
                passwordMsg: "a",
                shiftMsg: "a",
            }
        },
        methods: {
            login(e) {
                e.preventDefault();
                console.log({
                    username:this.username,
                    password:this.password
                });
                this.$router.push('Home')
            }
        }
    }
</script>

<style scoped>
    .form-control, .form-control-lg {
        border: unset;
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: #28b87a;
        background: #f4f6fa;
    }

    .form-control:focus, .form-control-lg:focus {
        background: #d8dfed;
        outline: none;
    }

    .btn-hero-primary {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .0625rem;
        font-weight: 700;
        padding: .625rem 1.5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: 25px !important;
        background-color: #28b87a;
        border: none;
        box-shadow: 0 0.125rem 0.75rem rgba(4,65,134,0.25);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .12s ease-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,transform .12s ease-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,transform .12s ease-out,-webkit-transform .12s ease-out;
    }

    .btn-hero-primary:not(:disabled):not(.disabled):active, .btn-hero-primary:not(:disabled):not(.disabled).active, .show > .btn-hero-primary.dropdown-toggle {
        color: #fff;
        background-color: #044186;
        box-shadow: 0 0.125rem 0.75rem rgba(4,65,134,0.25);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .container-fluid {
        height: 100%;
    }

    .field {
        display: flex;
        flex-flow: column-reverse;
        /* margin-bottom: 1em; */
    }

    label {
        margin: 0;
        font-size: 1.25rem;
        color: black;
    }
    
    label, input {
        transition: all 0.2s;
    }

    input:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(1.25rem, 2.25rem) scale(1);
        color: rgb(118, 118, 118);
    }

    form {
        width: 60%;
    }

    .validation-msg {
        font-size: 1.1rem;
        color: #e04f1a;
    }

</style>