<template>
    <div>
        <h3>OVERVIEW MODUL BPJS VClaim</h3>
        <p>             
            Cetak SEP, History SEP, Rujukan, SKDP dan SPRI.
            Mencetak semua informasi aktifitas klaim.
            Bridging BPJS E-Klaim INACBGS dan laporan nya

            Anda Punya Pertanyaan ? Silahkan Kunjungi Pusat Bantuan
        </p>
    </div>
</template>

<script>
    export default {
        name: "Overview"
    }
</script>

<style scoped>

</style>